* {
	box-sizing: border-box;
}

.form-container {
	width: 100%;
	min-height: 1000px;
	margin: 0 auto;
}

.form-container form {
	background-color: rgba(1, 194, 11, 0.719);
	border: 2px solid #28324a;
	border-radius: 20px;
	padding: 20px;
	width: 600px;
	min-height: auto;
	margin: auto;
	margin-top: 3rem;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
	font-family: Arial, sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-container h2 {
	width: 100%;
	text-align: left;
	color: #ffffff;
	margin-bottom: 1rem;
}

.form-container label {
	font-weight: bold;
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: left;
	font-size: 16px;
	color: white;
	width: 100%;
}

.login-form-section label {
	font-weight: bold;
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 60px;
	text-align: left;
	font-size: 16px;
	color: white;
	width: 100%;
}

a {
	text-decoration: none;
	color: rgb(41, 41, 41);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); 
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	line-height: 30px;
	font-weight: bold;
  }
  
  .modal-content {
	background-color: #3c67c9;
	padding: 20px;
	max-width: 600px;
	width: 100%;
	border-radius: 8px;
	text-align: left;
  }
  
  button {
	margin-top: 10px;
	padding: 10px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='tel'],
.form-container input[type='password'],
.form-container input[type='date'],
.form-container select {
	width: 100%;
	padding: 10px;
	margin-top: 4px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.95);
	color: #333;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.form-container input[type='number'] {
	width: 39%;
	padding: 10px;
	margin-top: 4px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.95);
	color: #333;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.form-container input:focus,
.form-container select:focus {
	border-color: #1c6a00;
	outline: none;
}

.form-container input:invalid,
.form-container input.error {
	border-color: #ff4c4c;
	background-color: #ffdddd;
}

.form-container button {
	width: 100%;
	background-color: #2C5475;
	color: white;
	font-size: 18px;
	padding: 12px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
}

.form-container button:hover {
	background-color: #377cb3;
}

.form-container input[type='checkbox'] {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.form-container .error-message {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: rgb(199, 1, 1);
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
}

.first-last-name,
.city-province-postal,
.street-unit,
.dob-phone,
.house-member {
	display: flex;
	gap: 25px;
}

.first-last-name,
.city-province-postal input,
.street-unit input,
.dob-phone input,
.house-member input {
	width: 100%;
};

.house-member input {
	width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .login-container {
	margin-top: 4rem;
	margin-bottom: 14rem;
	display: flex;
	width: 60%;
	max-width: 800px;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-form-section {
	flex: 1;
	padding: 2rem;
	background-color: #2d3e50;
	color: white;
  }

  .login-form-section h2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
  }

  .login-form-section input[type='password'], 
  .login-form-section input[type='email'] {
	border: 2px solid white;
	border-radius: 5px;
	background-color: #2d3e50;
	color: white;
  }
  
  h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
  }
  
  label {
	display: block;
	margin-bottom: 1rem;
	font-size: 14px;
  }
  
  input {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	margin-top: 0.3rem;
  }
  
  .error-message {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: rgb(199, 1, 1);
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
}
  
  .submit-button {
	width: 100%;
	margin-top: 15px;
	padding: 0.75rem;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .signup-section {
	flex: 1;
	padding: 2rem;
	padding-top: 5rem;
	background-color: rgba(1, 194, 11, 0.719);
	font-weight: bold;
	color: white;
	text-align: center;
  }

  .signup-section h2 {
	flex: 1;
	padding: 2rem;
	text-align: center;
  }
  
  
  .signup-button {
	margin-top: 1rem;
	padding: 0.75rem;
	padding-left: 7rem;
	padding-right: 7rem;
	background-color: #2C5475;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  

@media (max-width: 480px) {

	.form-container form {
		width: 85%;
		min-height: 1000px;
		margin-top: 3rem;
	}

	.login-container {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .login-form-section,
    .signup-section {
        padding: 0.5rem;
    }

    .login-form-section h2,
    .signup-section h2 {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .submit-button,
    .signup-button {
        padding: 1rem;
        font-size: 1rem;
    }

    .signup-button {
        padding-left: 5rem;
        padding-right: 5rem;
    }

	.form-container label {
		display: block;
		position: relative;
		margin-top: 10px;
		font-size: 14px;
		margin-bottom: 35px;
		text-align: center;
	}

	.form-container .error-message {
		position: absolute;
		bottom: -20px;
		left: 0;
		color: red;
		font-size: 11px;
		white-space: nowrap;
	}

	.form-container h2 {
		font-size: 1.5rem;
	}

	.form-container input[type='text'],
	.form-container input[type='email'],
	.form-container input[type='tel'],
	.form-container input[type='password'],
	.form-container input[type='confirm'],
	.form-container input[type='date'],
	.form-container select {
		font-size: 14px;
		padding: 6px;
	}

	.form-container button {
		font-size: 14px;
		padding: 10px;
	}
}
