* {
	box-sizing: border-box;
}

.form-container {
	width: 100%;
	margin: 0 auto;
}

.form-container form {
	background-color: rgba(255, 255, 255, 0.65);
	border: 2px solid #28324a;
	border-radius: 10px;
	padding: 20px;
	width: 600px;
	min-height: 1000px;
	margin: auto;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #28324a;
}

.form-container h2 {
	width: 90%;
	text-align: center;
	margin: 2rem auto;
	color: white;
	text-shadow: #333;
}

.form-container label {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 35px;
	text-align: left;
	font-size: 16px;
}

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='tel'],
.form-container input[type='password'],
.form-container input[type='confirm'],
.form-container input[type='date'],
.form-container input[type='number'],
.form-container select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	transition: 0.3s;
	font-family: Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.859);
	color: #333;
}

.form-container input:focus,
.form-container select:focus {
	border-color: #007bff;
	outline: none;
}

.form-container input:invalid,
.form-container input.error {
	border-color: red;
	background-color: #ffe6e6;
}

.form-container button {
	width: 100%;
	background-color: #28324a;
	color: white;
	font-size: 16px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}

.form-container button:hover {
	background-color: #0f172a;
}

.form-container input[type='checkbox'] {
	margin-right: 10px;
}

.form-container span.error {
	position: absolute;
	left: 0;
	top: 100%;
	font-size: 12px;
	white-space: nowrap;
	padding-top: 4px;
}

.form-container .error-message {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: red;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}

.form-container .field-full {
	width: 100%;
}

.form-container .field-half {
	width: 50%;
}

.form-container .field-quarter {
	width: 25%;
}

.form-container .field-third {
	width: 30%;
}

.form-container input.error+span.error {
	visibility: visible;
}

@media (max-width: 480px) {
	.form-container form {
		width: 100%;
		padding: 15px;
	}

	.form-container label {
		display: block;
		position: relative;
		margin-top: 10px;
		font-size: 14px;
		margin-bottom: 35px;
		text-align: center;
	}

	.form-container .error-message {
		position: absolute;
		bottom: -20px;
		left: 0;
		color: red;
		font-size: 11px;
		white-space: nowrap;
	}

	.form-container h2 {
		font-size: 1.5rem;
	}

	.form-container input[type='text'],
	.form-container input[type='email'],
	.form-container input[type='tel'],
	.form-container input[type='password'],
	.form-container input[type='confirm'],
	.form-container input[type='date'],
	.form-container select {
		font-size: 14px;
		padding: 6px;
	}

	.form-container button {
		font-size: 14px;
		padding: 10px;
	}
}
