body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#root {
  width: 100%;
}

header {
  width: 100%;
  text-align: center;
  background-color: #ffcc00;
  padding: 20px;
  font-size: 24px;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f0f0f0;
}

main {
  width: 100%;

  max-width: 800px;

  padding: 2rem 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: #28324A;
}


.card {
  width: 100px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}

.card .front {
  background-color: #fff;
  transform: rotateY(180deg);
}

.card .back {
  background-color: #8A33B9;
  color: white;
}

.card .back img {
  width: 100%;
  max-width: 70px;
}

.card.flipped .front {
  transform: rotateY(0);
}

.card.flipped .back {
  transform: rotateY(-180deg);
}

.timer {

  position: absolute;

  top: 30px;
  right: -25px;

  z-index: 5;

  font-size: 1.5rem;
  color: #28324A;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}


.game-starter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.game-starter .play {
  width: 720px;
  height: 400px;

  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 18px;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game-starter .play button {
  background-color: #08CF2B;
  border: 4px solid #ffffff;
  color: #ffffff;
  padding: 10px 3rem;

  max-width: 250px;

  border-radius: 16px;
  font-size: 32px;

  z-index: 5;

  margin: 0 4rem;

  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(2, 85px);
    grid-gap: 10px;
  }

  .card {
    width: 85px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
  }

  .game-board {
    padding: 10px;
  }

  .game-starter .play {
    width: 100%;
    max-width: 400px;
    height: 600px;

    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 18px;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timer {

    position: absolute;

    top: 30px;
    right: 25px;

    font-size: 1.5rem;
    color: #28324A;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

}