/* NavigationBar.css */
* {
    transition: all 0.3s;
}

.padding-sm {
    padding: 1rem;
}

.view-height {
    height: 100%;
    min-height: 100vh;
}

.hypatia-normal {
    font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hypatia-italic {
    font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.hypatia-italic-bold {
    font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    background: url(./assets/svg/bkgd-01.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.flex-col {
    flex-direction: column;
}

.container-col {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C5475;
    ;
    color: white;
    padding: 10px 20px;
}

.nav-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.hamburger {
    display: none;
    /* Initially hidden */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hamburger line styles */
.hamburger-line {
    background-color: white;
    height: 3px;
    width: 20px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* When the menu is open, transform the lines into a cross */
.hamburger.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.hamburger.open .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
}

/* Navigation links */
.nav-links {
    width: 100%;
    list-style: none;
    display: flex;

    align-items: center;

    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links li img {
    width: 100%;
    max-width: 180px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.main-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 95vh;


}

.main-home .left {
    width: 50%;

    padding-right: 1rem;
}

.main-home .left .main-home-pic img {
    width: 100%;

    max-width: 626px;
}

.main-home .left .main-content {
    margin-top: 1rem;
}

.main-home .left .main-content p {
    width: 100%;

    max-width: 500px;

    font-size: 18px;
}

.main-home .left .win-prizes {
    margin-top: 2rem;
}

.main-home .left .win-prizes h2 {
    text-align: center;

    font-size: 2.5rem;
    color: #2C3E50;
    font-weight: 500;

    border-bottom: 4px solid #28324A;

    padding-bottom: 10px;

    display: ruby-base;

    margin: 0 !important;
}

.left .prizes-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    padding: 15px;
}

.left .prizes-img .prize {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 150px;
    height: 220px;
    padding: 1rem;

    text-align: center;

    color: #fff;
    border-radius: 18px;

    margin: 15px 10px;
}

.green1 {
    /* background-color: #4bab489f; */
    background: url(./assets/img/new-pic-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    transform: rotate(-20.00deg) translateY(30px);
    z-index: -1;
}

.green2 {
    background: url(./assets/img/new-pic-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    z-index: 1;
}

.green3 {
    background: url(./assets/img/new-pic-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    transform: rotate(20.00deg) translateY(30px);
    z-index: -1;
}

.main-home .right {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding-left: 1rem;
}

.play-to-win {
    padding: 1rem 3rem;
    background-color: #08CF2B;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-radius: 35px;
    border: 12px solid #fff;


    text-align: center;
}

.play-to-win a {
    text-decoration: none;
    color: #fff;
    font-weight: bold !important;
}

.play-to-win a h4 {
    font-size: 4rem;
    font-weight: bold !important;
}

@media screen and (max-width: 956px) {
    .play-to-win a h4 {
        font-size: 3rem;
        font-weight: bold !important;
    }

    .play-to-win {
        padding: 1rem 3rem;
        font-weight: 400;
        border-radius: 35px;
        border: 8px solid #fff;
        border-radius: 25px;
    }

}

@media screen and (max-width: 765px) {
    .play-to-win a h4 {
        font-size: 2.5rem;
        font-weight: bold !important;
    }

    .play-to-win {
        padding: 1rem 1rem;
        font-weight: 400;
        border: 6px solid #fff;
        border-radius: 25px;
    }

}

@media screen and (max-width: 565px) {
    .main-home .left .win-prizes h2 {
        text-align: center;

        font-size: 1.8rem;
        color: #2C3E50;
        font-weight: 500;

        border-bottom: 3px solid #28324A;

        padding-bottom: 10px;

        display: ruby;

        margin: 0 auto !important;
    }

}

.hide-win {
    display: none;
}

.right .buy-more {
    width: 100%;
    max-width: 500px;
    height: 150px;
    background: url(./assets/img/more-possibilities.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;

    display: flex;
    align-items: end;
    justify-content: center;

    margin-top: 1rem;
}

.right .buy-more p {
    color: white;
    font-size: 22px;
    margin-bottom: 1rem;
}

.right .three-pics {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.right .three-pics img {
    width: 100%;
    padding: 1rem;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    /* color: #fff; */

    line-height: 130%;
    padding: 15px 10px;
}

footer .content {
    background-color: #FCFDFDBF;
    color: #2C3E50;
    display: flex;
    align-items: center;

    padding: 10px 15px;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
}

/* footer .first-parra {
    margin-bottom: 10px;
} */

/* .nav-links a:hover {
    background-color: #555;
} */

.contest-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.intstructions {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    /* text-align: left; */
}

.intstructions h2 {
    margin-bottom: 1rem;
}

.intstructions p {
    margin-bottom: 10px;
}

.prize-table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize-table table {
    width: 100%;
    max-width: 800px;
}

.prize-table table th {
    padding: 10px;
}

.prize-table table td {
    padding: 10px;
    text-align: center;
}

table,
th,
td {
    border: 4px solid #28324A;
}

table {
    border-collapse: collapse;
}

/* .desktop-game {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.mobile-game {
    padding: 2rem;
    margin: 13vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-game .game-link {
    padding: 1rem 3rem;
    background-color: #08CF2B;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 3rem;
    border-radius: 35px;
    border: 12px solid #fff;

    font-weight: bold;
}

.mobile-game .game-link:hover {
    transform: scale(1.08);
}

.contast-page {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    padding: 2rem;
}

.instruction-list {
    width: 100%;
    max-width: 1200px;

}

.instruction-list {
    display: flex;
    align-items: baseline;
    justify-content: center;

    width: 100%;
    max-width: 350px;

    padding: 1rem 2rem;
    border-radius: 15px;

    flex-direction: column;

    margin-right: auto;

    background: radial-gradient(80.44% 131.11% at 12.78% 50.99%, #2C3E50 0%, #648DB6 100%);
}

.instruction-list ul {
    color: #fff;
    text-align: left;

    font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
    .nav-links li img {
        width: 100%;
        max-width: 130px;
    }

    .nav-bar {

        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 10px;
    }

    footer .content p {
        font-size: 12px;
    }

    .intstructions {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2rem 10px;

        /* text-align: left; */
    }

    .instruction-list ul {
        color: #fff;
        text-align: left;

        font-size: 1rem;
    }
}

@media screen and (max-width: 810px) {

    .prize-table {
        padding: 1rem;
    }
}


/* Responsive Design */
@media screen and (max-width: 768px) {

    .mobile-game {
        padding: 3rem 0;
        margin: 6vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-game .game-link {
        padding: 1rem;
        font-size: 1.5rem;
        border: 5px solid #fff;
    }
}

@media screen and (max-width: 1200px) {

    .main-home .left {
        width: 50%;

        padding-right: 0rem;

        padding: 1rem;
    }

    .main-home .right {
        width: 50%;

        padding-right: 0rem;

        padding: 1rem;
    }

    .play-to-win {
        font-size: 2rem;
    }
}

@media screen and (max-width: 657px) {

    .col {
        flex-direction: column;
    }

    .col .left {
        width: 100%;
    }

    .col .right {
        width: 100%;
    }

    .hide-win {
        display: block;

        max-width: 400px;

        margin: 0 auto;

        margin-top: 1rem;

        text-align: center;
    }

    .hide-right {
        display: none;
    }

    .main-home .left .main-home-pic img {
        padding: 2rem;
    }

    .contest-page {
        padding: 1rem 10px;
    }
}

@media screen and (max-width: 400px) {

    .prizes-img {
        flex-direction: column;
    }

    .prizes-img .prize {
        margin: 5px;
    }

    .nav-links li img {
        width: 100%;
        max-width: 120px;
    }
}

@media screen and (max-width: 400px) {
    .green1 {
        transform: rotate(0deg) translateY(0px);
        z-index: -1;
        margin-bottom: 1rem !important;
    }

    .green3 {
        transform: rotate(0deg) translateY(0px);
        margin-top: 1rem !important;
    }


}